<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StreetParkingApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F58F6C5F1E023FB300493ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F58F6C731E023FB300493ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F58F6C7E1E023FB300493ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
